
@{
    Layout = "~/Views/Shared/_MLayout.cshtml";
    ViewBag.Crumb = "相簿分類維護";
    ViewBag.subnav = "n2";
    ViewBag.subnav2 = "n2-1";
}

@section scripts {
    @* https://codepen.io/doughensel/pen/zGMmop *@
    <script>
        (function(){
            // http://stackoverflow.com/questions/4083351/what-does-jquery-fn-mean
            var $ = function( elem ){
                if (!(this instanceof $)){
              return new $(elem);
                }
                this.el = document.getElementById( elem );
            };
            window.$ = $;
            $.prototype = {
                onChange : function( callback ){
                    this.el.addEventListener('change', callback );
                    return this;
                }
            };
        })();

        /**
        //  Drag and Drop code for Upload
        **/
        var dragdrop = {
            init : function( elem ){
                elem.setAttribute('ondrop', 'dragdrop.drop(event)');
                elem.setAttribute('ondragover', 'dragdrop.drag(event)' );
            },
            drop : function(e){
                e.preventDefault();
                var file = e.dataTransfer.files[0];
                runUpload( file );
            },
            drag : function(e){
                e.preventDefault();
            }
        };

        /**
        //  Code to capture a file (image)
        //  and upload it to the browser
        **/
        function runUpload( file ) {
            // http://stackoverflow.com/questions/12570834/how-to-preview-image-get-file-size-image-height-and-width-before-upload
            if( file.type === 'image/png'  ||
                    file.type === 'image/jpg'  ||
                  file.type === 'image/jpeg' ||
                    file.type === 'image/gif'  ||
                    file.type === 'image/bmp'  ){
                var reader = new FileReader(),
                        image = new Image();
                reader.readAsDataURL( file );
                reader.onload = function( _file ){
                    $('imgPrime').el.src = _file.target.result;
                    $('imgPrime').el.style.display = 'inline';
                } // END reader.onload()
            } // END test if file.type === image
        }

        /**
        //  window.onload fun
        **/
        window.onload = function(){
            if( window.FileReader ){
                // Connect the DIV surrounding the file upload to HTML5 drag and drop calls
                dragdrop.init( $('userActions').el );
                //  Bind the input[type="file"] to the function runUpload()
                $('fileUpload').onChange(function(){ runUpload( this.files[0] ); });
            }else{
                // Report error message if FileReader is unavilable
                var p   = document.createElement( 'p' ),
                        msg = document.createTextNode( 'Sorry, your browser does not support FileReader.' );
                p.className = 'error';
                p.appendChild( msg );
                $('userActions').el.innerHTML = '';
                $('userActions').el.appendChild( p );
            }
        };
    </script>
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li>活動剪影管理 &#10095;</li>
        <li>@ViewBag.Crumb</li>
    </ul>
}

<h3 class="title">@ViewBag.Crumb <small class="oi" data-glyph="tags">編輯</small></h3>

<form class="form-list">
    <dl class="fields">
        <dt class="col-1">名稱</dt>
        <dd class="col-9">
            <input type="text">
        </dd>
    </dl>
    <dl class="fields">
        <dt class="col-1">排序</dt>
        <dd class="col-5">
            <input type="number" value="0" class="inline">
            <small>數字愈大愈前面</small>
        </dd>
    </dl>
    <dl class="fields">
        <dt class="col-1">前台顯示</dt>
        <dd class="col-5">
            <label class="switch">
                <input type="checkbox" checked>
                <div class="slider round"></div>
            </label>
        </dd>
    </dl>

    <fieldset class="m-t-24">
        <legend>[ 上傳封面照片 ]</legend>

        @* 拖曳上傳圖片：
           src https://demos.devexpress.com/aspxfilemanageranduploaddemos/uploadcontrol/DragAndDrop.aspx *@
        <section class="file-upload">

            @* 未上傳時顯示這個 *@
            <div class="drop-zone">
                拖曳圖片到此<br>
                or<br>
                點此選取檔案
            </div>

            @* 上傳完成時顯示這個 *@
            <div class="uploader">
                <img src="https://iso.500px.com/wp-content/uploads/2016/06/stock-photo-142869191-1-1500x1000.jpg" alt="demo圖">
                <button class="btn-link text-danger oi" data-glyph="circle-x"></button>
            </div>
        </section>

        @* 上傳中顯示進度條 *@
        <div class="progress">
            <span class="progbar bg-success"></span>
            @* <span class="progbar" style="width: 100%">100%</span> *@
        </div>
    </fieldset>

    <footer class="submit-bar clear m-t-24">
        <button type="button" class="btn success oi" data-glyph="circle-check">
            確認儲存
        </button>
        <button type="button" class="btn warning oi" data-glyph="circle-x" onclick="location.href='ActivityKind'">
            回列表
        </button>
    </footer>
</form>