
@{
    ViewBag.Title = "品牌故事及經營理念";
    ViewBag.BodyClass = "About";
}

<header class="banner wrap">
    <img class="pic-full" src="~/Content/images/about/banner.jpg" alt="品牌故事banner">
    <h1 class="font-xxxl">
        <strong class="block">ABOUT</strong>
        @ViewBag.Title
    </h1>
</header>

<section class="main font-lg p-x-24">
    <p>EZ訂製西服創辦人Tony，曾在訂製西服最鼎盛的時期，帶著對時裝設計強烈的興趣，從學徒做起，學習量身、打版、剪裁、縫製，自此打下製作西服的深厚基礎。但有感於過去訂製西服的銷售模式，常因價格不夠透明、很多細節收費沒有標準化，而導致與消費者間產生許多不必要的誤會。因此Tony以自身的經驗逐漸讓訂製西裝流程標準化，為了實現自己的理念，也因為一些因緣際會，讓他在1992年，終於實現了擁有自己第一間店的夢想。</p>
    <p>ElegaZzle Collezioni EZ精品訂製西服就是在這樣一個理念下正式誕生。ElegaZzle 是Elegant與Zazzle的合體再造字，EZ分別是Elegant即優雅之意，而Zazzle則是性感的意思。Tony認為，穿上訂製西服的男人應該展現出優雅的品味，而一旦展現出優雅自信，就能讓人覺得有種性感的魅力。另外，Z還有著另一更深層的含意，Zenith高峰頂點之義。一個男人優雅性感有自信以後，就更能推動自己站上人生的高峰，這應該會是每個追求成功的男士對自己的期許。Tony希望在這裡能夠助大家一臂之力！進而誕生了ElegaZzle Collezioni！但是想到在那個年代，英文的店名容易跟大家產生距離感，因此當時的店名僅取這個合體字的二個字首EZ，念起來也取其諧音Easy，讓大家能輕易地就擁有一套屬於自己的合身西服，訂製西服其實也可以是一件容易且實惠的事情。</p>
    <p>ElegaZzle Collezioni在2005年首度推出自己研發的版衣量身以及讓人顯得高瘦的合身版、2009年開始使用紅外線定位輔助量身，提升測量精準度。就是這樣一步一腳印的堅持著、不斷創新著，即便在中華路漸漸沒落到僅剩六家店時，EZ仍然默默的秉持著理想與品質而經營著。就這樣漸漸地傳出了口碑。現在，2017年，EZ精品訂製西服更開始啟用先進的3D人體掃描儀，使得量身更簡單且更精確，也讓想要擁有一套屬於自己的訂製西服變得更加容易。</p>
    <p>而2017年的現在，台灣對於外來事物的接受度明顯較從前成熟，加上啟用了3D人體掃描儀，讓訂製西服更精準更科技化。我們下了一個重大的決定，要將當初創設EZ訂製西服最原始的理念給喚回來，將店名正式正名回『ElegaZzle Collezioni』，穿上訂製西服的男士展現優雅的品味、增添性感風采與自信，進而站上人生的高峰。</p>
    <p>2017年，是ElegaZzle Collezioni嶄新的一年，除了正名回來，更開設了第一家形象概念店，不但將正名後的名稱重新掛上招牌、將官網正名並重整的更時尚、理念更明確，並在概念店裝設先進的3D人體掃描儀，讓來店的客人除了能享受先進的科技更能有來到自家更衣室的親切與舒適。</p>
    <p>精進現在、放眼未來，我們對ElegaZzle Collezioni有著新的期許，除了更明確自己的理念，以口碑與特色逐漸擺脫同業的惡性競爭，更希望展店全台灣，讓訂製西服的觀念深化到每一位追求時尚衣品的男士，並且幫助他們能輕鬆擁有人生第一套量身訂製的西服。最後透過精確的產能控管，達到將“輕鬆擁有一套訂製西服”的理念推向全亞洲，甚至慢慢的佈局於全世界。這是我們的理想，更是ElegaZzle Collezioni精品訂製西服的每一位成員現今正在努力的目標。</p>

    <h5><strong>『ElegaZzle Collezioni』穿出你的優雅自信 ‧ 散發你的性感魅力‧站上人生的最高峰</strong></h5>

    <h3 class="m-l-48">關於EZ精品訂製西服的一些創舉</h3>
    <dl class="m-l-48 list-table">
        <dt>1992</dt>
        <dd>開設第一家年輕化且符合時代潮流的西服店。</dd>
        <dt>2004</dt>
        <dd>
            ※打破傳統西服店的銷售模式，採用透明化的標價，讓消費者安心。<br>
            ※研究出適合亞洲男士身形的合身版版型。
        </dd>
        <dt>2005</dt>
        <dd>利用版衣量身，雙向溝通 ，在西裝做出來之前 消費者已能先看到西裝的雛形。</dd>
        <dt>2009</dt>
        <dd>增加紅外線雷射量身，定位輔助，讓量身採取尺寸更精準。</dd>
        <dt>2012</dt>
        <dd>西裝做工再升級，比照名牌西服，作工精細、著重細節。</dd>
        <dt>2017</dt>
        <dd>啟用3D人體掃描機，讓科技進入訂製西服的世界，更精準更臻於完美。</dd>
    </dl>

    <div class="text-right m-t-48">
        <a href="~/Home/Best_choice" class="btn primary">選擇 E. Z. 的10大理由</a>
    </div>
</section>