
@{
    ViewBag.Title = "認識寶程國際物業";
    ViewBag.BodyClass = "AboutUs";
}

<header class="bg-pattern p-y-48">
    <h1 class="title">@ViewBag.Title</h1>
</header>

<section class="content">
    <div class="wrap">
        <aside class="col-6"><img class="m-t-12" src="~/Content/images/aboutus/introBg.jpg" alt="插圖"></aside>
        <article class="col-6">
            <h2 class="font-xxxl m-t-0">認識我們</h2>
            <p>資產與物業對人類而言，非單純只是提供遮風避雨、工作場所及居家生活住中的簡單活動空間而已，於食、衣、住、行、育、樂、工作及生活時，建築物與環境及空間使用時需有「安居樂業」的基礎，而建造前的使用需求規劃，建造完成後的管理、維護、修繕評估，進而為求建築物在使用上能有安全、舒適、整潔、簡單、便利的機能及活動空間是必須的，進而達成保值、增值及提高建物使用週期，方為良好完善的物業管理宗旨，亦為本公司遵循首謀，有鑑於臺灣物業管理風氣已開，物業管理需求逐漸受到重視，而目前物業管理市場，專業管理公司百家爭鳴，服務方向與方式各有所長，但在消費者期望裡，目前的管理模式仍有很大進步空間，公司創辦人發現了，建築物的型態各有特色與主軸，瞭解建物的本質提供適切的規劃方向，與消費者懇談瞭解其需求，才是根本，故本公司將此方針為專業服務訴求，方能提供切合的服務，在實務管理上才能有品質可言，消費者才能有安居樂業的感受，故寶程國際物業於2016年01月(民國105年01月)因應本國法令籌組而誕生，內部合法的營運基礎，與客戶充分討論作為，提供務實循序漸進專業的建議，為本公司創立營運之唯一宗旨。</p>
        </article>
    </div>
</section>

<section class="content bg-info text-white">
    <div class="wrap">
        <h2 class="text-center font-xxxl m-t-0">品質政策</h2>
        <div class="row row-x-0">
            <article class="col-6">
                <h4>以品質與服務滿足客戶需求</h4>
                <p>本公司生產一向稟持品質至上、客戶第一之原則，對產品的品質管制極為嚴格。為提升客戶對產品之信賴度及實現公司經營理念，本公司一向致力於對品質之高要求，定期、不定期客戶服務滿意度反饋調查，現場服務人員常態持續教育訓練，各種考核稽查等等。期盼藉由此一品質保證模式要求使品質與服務能滿足客戶需求。</p>
            </article>
            <article class="col-6">
                <h4>我們承諾以下政策：</h4>
                <ol class="m-l-24">
                    <li>在服務與管理技術上不斷研發，在品質控制上要求絕對嚴謹。</li>
                    <li>持續降低成本，提升生產力，改善服務產品之品質。</li>
                    <li>以顧客服務為導向，滿足客戶要求，提升顧客滿意度。</li>
                    <li>結合供應商、承攬商及客戶，共同持續改善品質管理系統。</li>
                    <li>符合法令與法規要求，遵循並順應國際標準趨勢。</li>
                    <li>推動「高值化」策略，成為「質與量並重的寶程」。</li>
                    <li>由成約後服務轉為成約前服務，成為「在地服務的寶程」。</li>
                </ol>
            </article>
        </div>
    </div>
</section>

<section class="content bg-warning">
    <div class="wrap">
        <h2 class="text-center font-xxxl m-t-0">特色優勢</h2>
        <img src="~/Content/images/aboutus/pic.png" alt="插圖" class="float-r m-l-32">
        <p>寶程國際物業不同於一般物業保全公司，我們匯集各方有心致力於業內之各方菁英、理念志士。為國內物業領域之整體提升與國際化，規劃出實踐方案與宏偉的藍圖。</p>
        <p>本公司最大的特點即是靈活運用人的智慧，利用有限之資源為業主創造出最大價值。這個價值可能來自於專業的服務、一系列問題的解決、安全的維護，危險的預防，甚至於「財富的創造」。看似普通的項目，真正要落實並不容易，除了精通日常事務方面的各種專業能力，還要具備豐富的管理經驗，最重要的是面對複雜事務處理的機動性與靈活性，我們綜稱為「服務的藝術」。</p>
        <p>能力，是評價一家物業公司優、劣的最重要標準之一。社區居住著個性相異、生活習慣不同…等之眾多業主，複雜程度可想而知。要想做到絕大多數人的滿意的程度，考驗的正是物業公司的智慧與能力。</p>
        <p>本公司如何能夠脫穎而出，技冠群倫。憑藉著的是多年累積的豐富服務經驗與重視人才的程度。人的世界，處理的是人的事務，只有優秀的人力資源，方能滿足業主的各方面要求。</p>
    </div>
</section>