
@{
    ViewBag.Title = "設備維護";
    ViewBag.BodyClass = "Service";
    ViewBag.SubNav = "Equipment";
}

<header class="bg-pattern p-y-48">
    <h1 class="title">@ViewBag.Title</h1>
</header>

@Html.Partial("service-nav")

<section class="content wrap">
    <p>寶程國際物業之機電維護服務讓所有人都有安全的建築物可供居住，提供並扮演建築物附屬機電設施的一個整體解決方案提供者角色；將有形的機電設施和無形的生活環境安全因素做結合，進而創造出一有利永續性環境發展的經營模式。</p>

    <h4>寶程國際物業機電維護相關經營策略：</h4>
    <ul class="list-unstyled">
        <li>A) 強化機電維修業之人力資源發展，引進技術服務先進課程，以達快速有效培育人才的目標。</li>
        <li>B) 提升機電設施維護管理服務的能量，積極與同業或異業建立合作體系，推動服務模組化、標準化作業。</li>
        <li>C) 持續創新研發維修技術之資訊化服務平台，提高維修市場資訊透明度，並以此平台來強化周邊支援產業。</li>
    </ul>

    <p class="m-y-32">寶程國際物業之機電服務團隊將積極持續投入充份資源，針對維修服務技術進行提升，期望能發展成臺灣機電維修之核心廠商，並以一個負責任的企業自許，本著愛護地球、節約能源的態度，朝晉升為綠色企業之林為永續發展目標。</p>

    <img src="~/Content/images/service/Equipment.jpg" alt="插圖">
</section>
