@using System.Data
@using System.Text.RegularExpressions

@{
    ViewBag.Title = "首頁";

    DataTable d_news = (DataTable)ViewData["d_news"];
    string n_id = "";
    string n_title = "";
    string n_date = "";
    string n_desc = "";
    int ii = 0;
}

@section css {
    <link rel="stylesheet" href="~/Content/css/vendor/swiper.min.css">
}
@section scripts {
    <script src="~/Content/js/swiper.min.js"></script>
    <script>
        var swiperBanner = new Swiper(document.getElementById('banner'), {
            pagination: '.swiper-pager',
            paginationClickable: true,
            autoplay: 5000,
            autoplayDisableOnInteraction: false,
            speed: 1000,
            // grabCursor: true,
            effect: 'fade'
        });
    </script>
}

<section id="banner" class="swiper-container">
    <main id="setBanner" class="swiper-wrapper">
        <div class="swiper-slide"><img src="~/Content/images/index/banner.jpg" alt="b1"></div>
    </main>
    @* <div class="lightbg"></div>
    <header class="animate-logo">
        <div class="logo-a"></div>
        <h1>寶程國際集團</h1>
        <p class="title-en">
            <span>Bow</span>
            <span>Way</span>
            <span>International</span>
            <span>Group <sub>&reg;</sub></span>
        </p>
        <span class="adorn"></span>
    </header> *@
</section>

<section class="bg-pattern group">
    <h2 class="title m-b-48">寶程事業群</h2>
    <div class="group-item">寶程國際物業<br>股份有限公司</div>
    <div class="group-item">寶程寶程國際保全<br>股份有限公司</div>
    <div class="group-item">寶程公寓大廈<br>管理維護有限公司</div>
</section>

<section class="bg-info news">
    <div class="wrap">
        <article class="col-6 p-y-64 p-r-32 bg-info">
            <h2 class="font-brush underline text-white">Latest News</h2>
            <ul class="news-list list-unstyled">
                @* 套程式 *@
                @if (d_news.Rows.Count > 0)
                {
                    if(d_news.Rows.Count < 7)
                    {
                        ii = d_news.Rows.Count;
                    }
                    else
                    {
                        ii = 6;
                    }
                    for (int i = 0; i < ii; i++)
                    {
                        n_id = d_news.Rows[i]["n_id"].ToString();
                        n_title = d_news.Rows[i]["n_title"].ToString();
                        n_date = d_news.Rows[i]["n_date"].ToString();
                        n_desc = RemoveHTMLTag(d_news.Rows[i]["n_desc"].ToString());
                        if (n_desc.Length > 120)
                        {
                            n_desc = n_desc.Substring(0, 120) + "...";
                        }
                        <li>
                            <a href="@Url.Content("~/News/NewsData?n_id=" + n_id)">@n_title</a>
                            <small class="block">@n_date</small>
                        </li>
                    }
                }
            </ul>
            <a href="@Url.Content("~/News")" class="btn m-t-32">MORE</a>
        </article>
    </div>
</section>

<section class="work bg-white">
    <div class="wrap cell-row">
        <a href="~/Home/Security" class="cell w1">
            安全防護
            <i class="oi" data-glyph="magnifying-glass"></i>
        </a>
        <a href="~/Home/Affair" class="cell w2">
            事務管理
            <i class="oi" data-glyph="magnifying-glass"></i>
        </a>
        <a href="~/Home/Equipment" class="cell w3">
            設備維護
            <i class="oi" data-glyph="magnifying-glass"></i>
        </a>
    </div>
    <div class="wrap cell-row">
        <a href="~/Home/Clean" class="cell w4">
            環保清潔
            <i class="oi" data-glyph="magnifying-glass"></i>
        </a>
        <a href="~/Home/Park" class="cell w5">
            停車管理
            <i class="oi" data-glyph="magnifying-glass"></i>
        </a>

        <div class="cell deck">
            <span class="font-brush">Safety & Service</span>
        </div>
    </div>
</section>

@* 彈出視窗 *@
@* <div class="modal" id="popup">
    <main class="modal-content">
        <button class="modal-close" onclick="document.getElementById('popup').style.display='none'">&#215;</button>
        <img src="~/Content/images/index/notice.jpg">
    </main>
</div> *@
@functions
{
    /// <summary>
    /// 移除html tag
    /// </summary>
    /// <param name="htmlSource"></param>
    /// <returns></returns>
    public static string RemoveHTMLTag(string htmlSource)
    {
        //移除  javascript code.
        htmlSource = Regex.Replace(htmlSource, @"<script[\d\D]*?>[\d\D]*?</script>", String.Empty);

        //移除html tag.
        htmlSource = Regex.Replace(htmlSource, @"<[^>]*>", String.Empty);
        return htmlSource;
    }
}