
@{
    ViewBag.Title = "停車管理";
    ViewBag.BodyClass = "Service";
    ViewBag.SubNav = "Park";
}

<header class="bg-pattern p-y-48">
    <h1 class="title">@ViewBag.Title</h1>
</header>

@Html.Partial("service-nav")

<section class="content wrap">
    <ol class="m-l-32">
        <li>整合創新的經營模式，結合既有物業管理資源，改善停管業務現有的經營模式。 </li>
        <li>結合本公司既有案場，設立資源交流站。秉持慈善公益宗旨，整合本公司既有案場社區物資(如二手家電，二手衣物等)，舉辦如寒冬送暖活動或慈善義賣會等，將資源回饋當地清寒弱勢團體。(與主管機關協調配合)</li>
        <li>將採多元化經營策略-
            <ul class="m-l-24 m-b-8">
                <li>以企業化經營路外停車收費事業</li>
                <li>以科技化提供路外電子收費服務</li>
                <li>以行動化提昇路外停車收費績效</li>
            </ul>
        </li>
        <li>強化提升公司組織架構，廣納各方賢才致力於推動建構更完善的停管經營制度，結合知名科技業者發展高科技停管系統；以更便民更能提升政府及地方停管效能之各種經營方案進而改善停車之便利性、簡化繳費方式之繁瑣、人力資源節省、提升有限的停管資源使用效能。</li>
        <li>結合在地各方產業或團體及校園、機關等共同企劃帶動停車場範圍周邊商業活動、人文活動…聚集人氣進而促進地方經濟發展的各種可能性。</li>
    </ol>

    @* <p>有鑑於國內車輛的日益增長，停車問題也日趨重要。而停管人員的素質良窳及停管設備的先進與否可謂影響停車場經營的重要因素，唯有素質齊全的停管人員，才能賦予的管理職權切實執行；而高科技停管設備的實際運用，除了調度最少人力發揮最大效用外對於力難以解決的停管問題，如：停車場現況即時回報、欠繳偵查紀錄…等，都能獲得立時的解決之道。</p>
    <p>便利停車場長久以來，對停管人員與停管設備皆高品質的要求標準，停管人員自任用時的嚴格篩選、訓練期的服務態度建立至實際運作的考核評鑑皆遵循永固的服務理念，務求每一位停管員符合公司要求，就停管設備而言，切合未來所需的高科技電腦控管是便利停車場努力的方向與目標，因為透過適當的電腦規劃作業系統，往往能較諸傳統人力管理事半功倍之效。</p>

    <h4>真心託顧、忠實守護：</h4>
    <p>秉持真心託顧、忠實守護，整合行車空間提供消費者安全舒適的停車服務。</p>

    <h4>利益共創利益共享：</h4>
    <p>便利停車深信真正的利益建立在『公司的信念、員工的信心、消費者的信任』之上，以三位一體的利益共創為原則，進而達成利益共享之最高目標。</p> *@

    <img class="m-t-48 img-center" src="~/Content/images/service/park.jpg" alt="插圖">
</section>
