
@{
    ViewBag.Title = "安全防護";
    ViewBag.BodyClass = "Service";
    ViewBag.SubNav = "Security";
}

<header class="bg-pattern p-y-48">
    <h1 class="title">@ViewBag.Title</h1>
</header>

@Html.Partial("service-nav")

<section class="content wrap">
    <p class="m-b-32 font-lg">安全維護是保全業者安全管理的最重要責任，肩負著業主們的人員與財產之安全，並在緊急狀況發生時能成為業主身邊最重要的得力助手。寶程國際物業非常重視保全人員的職前與在職訓練，以確保其以敏銳的觀察力、謹慎的執行力、緊急的應變力，嚴謹地堅守崗位，為客戶及物業創造更高之生活品質與固若金湯、穩若磐石的安全堡壘，讓您舒適自在的享受美好生活！</p>
    <img class="m-y-16" src="~/Content/images/service/security.jpg" alt="插圖1">
    <img class="m-y-16" src="~/Content/images/service/security2.jpg" alt="插圖2">
    <img class="m-y-16" src="~/Content/images/service/security3.jpg" alt="插圖3">
</section>
