@charset "UTF-8";

$label-color:           darken($brand-primary,20) !default;
$label-bg:              lighten($brand-primary,36) !default;
$label-border-radius:   3px !default;
$label-pd:              2px 5px!default;
$label-mg:              0 5px!default;

//
// label
// --------------------------------------------------

[class^="label"] {
    display: inline-block;
    padding: $label-pd;

    &:not(:only-child) { margin: $label-mg; }

    @if $label-border-radius { border-radius: $label-border-radius;}
    @if $label-bg            { background: $label-bg; }
    @if $label-color         { color: $label-color; }

    // 專案樣式
    @extend .font-sm;
}

em[class*="label"] {
    font-style: normal;
}

@if $states {
    [class*="label-"] { @extend .text-white; }

    @each $type, $color in $state-type {
        .label-#{$type} { background: $color; }
        a.label-#{$type} {
            &:hover, &:focus, &:active {
                background: darken($color,10);
            }
        }
    }
}