@charset "UTF-8";
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block; }

progress {
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active, a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

figure {
  margin: 1em 40px; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

button, input, select, textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: bold; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

/*      base
-----------------------------------------------------------------------*/
@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@-webkit-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
html, body {
  text-align: center;
  height: 100%; }

body {
  background: #fff;
  color: #333;
  font-family: \5FAE\8EDF\6B63\9ED1\9AD4, "微軟正黑體", "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: .01em; }

img {
  vertical-align: middle; }

.image {
  max-width: 100%;
  height: auto; }

[tabindex="-1"]:focus {
  outline: none !important; }

a {
  color: #333;
  text-decoration: none;
  -webkit-transition: color 0.35s, background 0.3s;
  transition: color 0.35s, background 0.3s;
  hlbr: expression(this.onFocus=this.blur()); }
  a:hover, a:active {
    color: #0075a9; }

h1 {
  margin-top: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.1;
  color: #000; }

h1 {
  font-size: 2.625em; }

h2 {
  font-size: 1.875em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5625em; }

h5 {
  font-size: 1.3125em; }

h6 {
  font-size: 1.0625em; }

b, strong {
  font-weight: bold; }

small {
  font-size: 80%;
  font-weight: normal; }

mark {
  background-color: #f0e5d5;
  padding: .2em; }

hr {
  margin: 2rem 0;
  border: 0;
  border-top: 1px solid #ececec; }

p {
  margin: 0; }
  p + p {
    margin-top: 0.7rem; }

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #ececec; }

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 0; }
  ol ol, ol ul, ol dl, ul ol, ul ul, ul dl, dl ol, dl ul, dl dl {
    font-size: 90%;
    margin-bottom: 0; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

.logo, .float-l {
  float: left; }

.float-r {
  float: right; }

.wrap::after, #footer::after, .clearfix::after, section::after {
  content: "";
  display: table;
  clear: both; }

.full {
  width: 100%;
  max-width: 100%; }

.logo, .logo-s, .btn-fb, .text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.list-unstyled, .list-inline {
  list-style: none;
  padding-left: 0; }

.list-inline > li {
  display: inline-block; }
  .list-inline > li:not(:last-child) {
    margin-right: 5px; }

/*      layout
-----------------------------------------------------------------------*/
.wrap {
  max-width: 1200px;
  margin: 0 auto;
  min-width: 998px; }

#wrapper {
  min-width: 998px;
  min-height: 100%;
  padding-bottom: 238px;
  padding-top: 90px; }
  @media (max-width: 48em) {
    #wrapper {
      padding-top: 70px; } }

#header {
  background: #fff;
  height: 90px;
  z-index: 6;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  min-width: 998px; }

.logo {
  cursor: pointer;
  cursor: hand;
  z-index: 10;
  background: url(../images/logo.gif) 0 0 no-repeat;
  width: 181px;
  height: 65px;
  margin-top: 14px;
  margin-left: 88px; }

#footer {
  background: #313131;
  min-height: 238px;
  margin-top: -238px;
  z-index: 2;
  text-align: left;
  position: relative;
  min-width: 998px; }
  #footer a:hover, #footer a:active, #footer a.current {
    color: #c9a063; }

.foot-nav, .foot-contact {
  float: left;
  width: 37.5%; }

.foot-nav {
  margin-bottom: 38px; }
  .foot-nav a {
    display: block;
    letter-spacing: 1px;
    line-height: 1.2;
    margin-bottom: 10px; }

.foot-contact {
  line-height: 1.8; }
  .foot-contact .underline {
    border-color: #fff;
    margin-bottom: 8px; }

.copyright {
  float: right;
  vertical-align: top;
  width: 22%; }
  .copyright p {
    margin-top: 30px; }

@media (min-width: 64em) {
  .logo-s, .btn-fb {
    margin-left: 15%; } }

.logo-s {
  margin-top: 20px;
  margin-bottom: 30px;
  background: url(../images/logo-s.gif) 0 0 no-repeat;
  width: 181px;
  height: 65px; }

.btn-fb {
  display: block;
  background: url(../images/btn-fb.gif) 0 0 no-repeat;
  width: 58px;
  height: 27px;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .btn-fb:hover, .btn-fb:active {
    background-image: url("../images/btn-fb2.gif"); }

#menu {
  z-index: 20;
  margin-bottom: 0;
  float: right;
  margin-top: 48px; }
  #menu li > a {
    color: #626262;
    font-size: 1.0625em; }
    #menu li > a.current::after {
      border-bottom: 1px solid;
      -webkit-animation: bdw 0.5s 1 forwards;
      animation: bdw 0.5s 1 forwards; }
      #menu li > a.current::after, .news-list a::before {
        content: '';
        display: block; }
@-webkit-keyframes bdw {
  0% {
    width: 0; }
  100% {
    width: 120%; } }
@keyframes bdw {
  0% {
    width: 0; }
  100% {
    width: 120%; } }
  #menu a {
    display: block; }

#menu li {
  position: relative;
  vertical-align: top; }
  #menu li:hover .sub-nav, #menu li:active .sub-nav {
    opacity: 1;
    visibility: visible;
    height: auto;
    top: 100%; }

.sub-nav {
  display: block;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, top 0.35s;
  transition: opacity 0.5s, top 0.35s;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  padding: 15px 20px 15px 12px;
  word-break: keep-all; }
  .sub-nav a {
    color: #434343;
    line-height: 1.25;
    margin-bottom: 10px; }
    .sub-nav a.current {
      text-decoration: underline; }

button, [role="button"] {
  cursor: pointer;
  border: none; }
  button:active, button:focus, [role="button"]:active, [role="button"]:focus {
    outline: 0; }

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation; }

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.01;
  background: #000;
  color: #fff;
  -webkit-transition: background .35s, color .5s;
  transition: background .35s, color .5s;
  letter-spacing: 1px;
  min-width: 175px;
  text-align: center; }
  .btn:hover, .btn:active, .btn:focus {
    background: #b28247;
    color: #fff; }
  .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    opacity: .65;
    background-color: #ececec; }
  .btn.sm {
    padding: 5.656px 11.2px; }
  .btn.lg {
    padding: 8.08px 16px; }
  .btn.outline {
    background: transparent;
    border: 1px solid #262626;
    color: #000;
    letter-spacing: 1px;
    text-align: center; }
    .btn.outline:hover, .btn.outline:active, .btn.outline:focus {
      background: #333333;
      color: #fff; }

.btn-link {
  display: inline;
  line-height: 1.5;
  background: none;
  color: #333;
  -webkit-transition: color 0.35s, background 0.3s;
  transition: color 0.35s, background 0.3s; }
  .btn-link:hover, .btn-link:active, .btn-link:focus {
    background: none;
    color: #0075a9; }
  .btn-link.disabled, .btn-link[disabled], fieldset[disabled] .btn-link {
    opacity: 1;
    color: #ececec;
    background: none; }

.modal {
  z-index: 999;
  overflow: auto;
  padding-top: 15%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: fadeIn 0.4s;
  animation: fadeIn 0.4s; }
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
.modal-close {
  background: none;
  color: #fff;
  font-size: 3.125em;
  line-height: 1;
  -webkit-transition: color 0.35s;
  transition: color 0.35s; }
  .modal-close:hover, .modal-close:focus {
    color: #EDE363;
    cursor: pointer; }
  .modal > .modal-close {
    position: fixed;
    top: 1%;
    right: 1%; }
  .modal-content .modal-close {
    position: absolute;
    top: 5px;
    right: 10px; }

.modal-content {
  margin: auto;
  background-color: #fff;
  position: relative; }

.animate-top {
  position: relative;
  -webkit-animation: slide-down 0.4s;
  animation: slide-down 0.4s; }
@-webkit-keyframes slide-down {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
@keyframes slide-down {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
.animate-zoom {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s; }
@-webkit-keyframes animatezoom {
  from {
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); }
  to {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes animatezoom {
  from {
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); }
  to {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); } }
.block {
  display: block; }

.inline-block {
  display: inline-block; }

.inline {
  display: inline; }

.clear {
  clear: both; }

.hidden {
  display: none; }

.circle {
  border-radius: 50%; }

.img-center {
  display: block;
  margin: auto; }

.m-x-a {
  margin-right: auto;
  margin-left: auto; }

.m-a-0 {
  margin: 0; }

.m-t-0 {
  margin-top: 0; }

.m-r-0 {
  margin-right: 0; }

.m-b-0 {
  margin-bottom: 0; }

.m-l-0 {
  margin-left: 0; }

.m-x-0 {
  margin-right: 0;
  margin-left: 0; }

.m-y-0 {
  margin-top: 0;
  margin-bottom: 0; }

.m-a-2 {
  margin: 0.125rem; }

.m-t-2 {
  margin-top: 0.125rem; }

.m-r-2 {
  margin-right: 0.125rem; }

.m-b-2 {
  margin-bottom: 0.125rem; }

.m-l-2 {
  margin-left: 0.125rem; }

.m-x-2 {
  margin-right: 0.125rem;
  margin-left: 0.125rem; }

.m-y-2 {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem; }

.m-a-4 {
  margin: 0.25rem; }

.m-t-4 {
  margin-top: 0.25rem; }

.m-r-4 {
  margin-right: 0.25rem; }

.m-b-4 {
  margin-bottom: 0.25rem; }

.m-l-4 {
  margin-left: 0.25rem; }

.m-x-4 {
  margin-right: 0.25rem;
  margin-left: 0.25rem; }

.m-y-4 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem; }

.m-a-8 {
  margin: 0.5rem; }

.m-t-8 {
  margin-top: 0.5rem; }

.m-r-8 {
  margin-right: 0.5rem; }

.m-b-8 {
  margin-bottom: 0.5rem; }

.m-l-8 {
  margin-left: 0.5rem; }

.m-x-8 {
  margin-right: 0.5rem;
  margin-left: 0.5rem; }

.m-y-8, .news-list a {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.m-a-12 {
  margin: 0.75rem; }

.m-t-12 {
  margin-top: 0.75rem; }

.m-r-12 {
  margin-right: 0.75rem; }

.m-b-12 {
  margin-bottom: 0.75rem; }

.m-l-12, #menu li {
  margin-left: 0.75rem; }

.m-x-12 {
  margin-right: 0.75rem;
  margin-left: 0.75rem; }

.m-y-12 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem; }

.m-a-16 {
  margin: 1rem; }

.m-t-16 {
  margin-top: 1rem; }

.m-r-16 {
  margin-right: 1rem; }

.m-b-16 {
  margin-bottom: 1rem; }

.m-l-16 {
  margin-left: 1rem; }

.m-x-16 {
  margin-right: 1rem;
  margin-left: 1rem; }

.m-y-16 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.m-a-24 {
  margin: 1.5rem; }

.m-t-24 {
  margin-top: 1.5rem; }

.m-r-24 {
  margin-right: 1.5rem; }

.m-b-24 {
  margin-bottom: 1.5rem; }

.m-l-24 {
  margin-left: 1.5rem; }

.m-x-24 {
  margin-right: 1.5rem;
  margin-left: 1.5rem; }

.m-y-24 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.m-a-32 {
  margin: 2rem; }

.m-t-32 {
  margin-top: 2rem; }

.m-r-32 {
  margin-right: 2rem; }

.m-b-32 {
  margin-bottom: 2rem; }

.m-l-32 {
  margin-left: 2rem; }

.m-x-32 {
  margin-right: 2rem;
  margin-left: 2rem; }

.m-y-32 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.m-a-48 {
  margin: 3rem; }

.m-t-48 {
  margin-top: 3rem; }

.m-r-48 {
  margin-right: 3rem; }

.m-b-48 {
  margin-bottom: 3rem; }

.m-l-48 {
  margin-left: 3rem; }

.m-x-48 {
  margin-right: 3rem;
  margin-left: 3rem; }

.m-y-48 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.m-a-64 {
  margin: 4rem; }

.m-t-64 {
  margin-top: 4rem; }

.m-r-64 {
  margin-right: 4rem; }

.m-b-64 {
  margin-bottom: 4rem; }

.m-l-64 {
  margin-left: 4rem; }

.m-x-64 {
  margin-right: 4rem;
  margin-left: 4rem; }

.m-y-64 {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.p-a-0 {
  padding: 0; }

.p-t-0 {
  padding-top: 0; }

.p-r-0 {
  padding-right: 0; }

.p-b-0 {
  padding-bottom: 0; }

.p-l-0, .foot-contact dd {
  padding-left: 0; }

.p-x-0 {
  padding-right: 0;
  padding-left: 0; }

.p-y-0 {
  padding-top: 0;
  padding-bottom: 0; }

.p-a-2 {
  padding: 0.125rem; }

.p-t-2 {
  padding-top: 0.125rem; }

.p-r-2 {
  padding-right: 0.125rem; }

.p-b-2 {
  padding-bottom: 0.125rem; }

.p-l-2 {
  padding-left: 0.125rem; }

.p-x-2 {
  padding-right: 0.125rem;
  padding-left: 0.125rem; }

.p-y-2 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem; }

.p-a-4 {
  padding: 0.25rem; }

.p-t-4 {
  padding-top: 0.25rem; }

.p-r-4 {
  padding-right: 0.25rem; }

.p-b-4 {
  padding-bottom: 0.25rem; }

.p-l-4 {
  padding-left: 0.25rem; }

.p-x-4 {
  padding-right: 0.25rem;
  padding-left: 0.25rem; }

.p-y-4 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; }

.p-a-8 {
  padding: 0.5rem; }

.p-t-8 {
  padding-top: 0.5rem; }

.p-r-8 {
  padding-right: 0.5rem; }

.p-b-8 {
  padding-bottom: 0.5rem; }

.p-l-8 {
  padding-left: 0.5rem; }

.p-x-8 {
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.p-y-8 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.p-a-12 {
  padding: 0.75rem; }

.p-t-12 {
  padding-top: 0.75rem; }

.p-r-12 {
  padding-right: 0.75rem; }

.p-b-12 {
  padding-bottom: 0.75rem; }

.p-l-12 {
  padding-left: 0.75rem; }

.p-x-12 {
  padding-right: 0.75rem;
  padding-left: 0.75rem; }

.p-y-12 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; }

.p-a-16 {
  padding: 1rem; }

.p-t-16 {
  padding-top: 1rem; }

.p-r-16, #menu li > a {
  padding-right: 1rem; }

.p-b-16, #footer, #menu li > a {
  padding-bottom: 1rem; }

.p-l-16 {
  padding-left: 1rem; }

.p-x-16 {
  padding-right: 1rem;
  padding-left: 1rem; }

.p-y-16 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.p-a-24 {
  padding: 1.5rem; }

.p-t-24, #footer {
  padding-top: 1.5rem; }

.p-r-24 {
  padding-right: 1.5rem; }

.p-b-24 {
  padding-bottom: 1.5rem; }

.p-l-24 {
  padding-left: 1.5rem; }

.p-x-24 {
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

.p-y-24 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.p-a-32 {
  padding: 2rem; }

.p-t-32 {
  padding-top: 2rem; }

.p-r-32 {
  padding-right: 2rem; }

.p-b-32 {
  padding-bottom: 2rem; }

.p-l-32 {
  padding-left: 2rem; }

.p-x-32 {
  padding-right: 2rem;
  padding-left: 2rem; }

.p-y-32 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.p-a-48 {
  padding: 3rem; }

.p-t-48 {
  padding-top: 3rem; }

.p-r-48 {
  padding-right: 3rem; }

.p-b-48 {
  padding-bottom: 3rem; }

.p-l-48 {
  padding-left: 3rem; }

.p-x-48 {
  padding-right: 3rem;
  padding-left: 3rem; }

.p-y-48 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.p-a-64 {
  padding: 4rem; }

.p-t-64 {
  padding-top: 4rem; }

.p-r-64 {
  padding-right: 4rem; }

.p-b-64 {
  padding-bottom: 4rem; }

.p-l-64 {
  padding-left: 4rem; }

.p-x-64 {
  padding-right: 4rem;
  padding-left: 4rem; }

.p-y-64 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.text-left, .sub-nav {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.font-sp {
  font-family: "Didact Gothic", sans-serif; }

.text-white, #footer, #footer a, .goTop, .goTop:hover, .goTop:active {
  color: #fff; }

.bg-white {
  background: #fff; }

.text-primary, #menu li > a.current {
  color: #006390; }

.bg-primary, .btn.primary {
  background: #0075a9; }

.hover-text-primary:hover, #menu a:hover, .hover-text-primary:active, #menu a:active {
  color: #0087c3; }

.hover-primary:hover, .btn.primary:hover, .hover-primary:active, .btn.primary:active {
  background: #0091d2; }

.text-secondary {
  color: #a07540; }

.bg-secondary, .btn.secondary {
  background: #b28247; }

.hover-text-secondary:hover, .news-list a:hover, .hover-text-secondary:active, .news-list a:active {
  color: #bc8e57; }

.hover-secondary:hover, .btn.secondary:hover, .hover-secondary:active, .btn.secondary:active {
  background: #c09662; }

.text-muted {
  color: #dfdfdf; }

.bg-muted, .btn.muted {
  background: #ececec; }

.hover-text-muted:hover, .hover-text-muted:active {
  color: #f9f9f9; }

.hover-muted:hover, .btn.muted:hover, .hover-muted:active, .btn.muted:active {
  background: white; }

.text-success {
  color: #009ca4; }

.bg-success, .btn.success {
  background: #00b4bd; }

.hover-text-success:hover, .hover-text-success:active {
  color: #00ccd7; }

.hover-success:hover, .btn.success:hover, .hover-success:active, .btn.success:active {
  background: #00dbe6; }

.text-info {
  color: #2a8ce2; }

.bg-info, .btn.info {
  background: #4098e5; }

.hover-text-info:hover, .hover-text-info:active {
  color: #56a4e8; }

.hover-info:hover, .btn.info:hover, .hover-info:active, .btn.info:active {
  background: #64abea; }

.text-warning {
  color: #c29450; }

.bg-warning, .btn.warning {
  background: #c9a063; }

.hover-text-warning:hover, .hover-text-warning:active {
  color: #d0ac76; }

.hover-warning:hover, .btn.warning:hover, .hover-warning:active, .btn.warning:active {
  background: #d3b281; }

.text-danger {
  color: #593d3e; }

.bg-danger, .btn.danger {
  background: #684749; }

.hover-text-danger:hover, .hover-text-danger:active {
  color: #775154; }

.hover-danger:hover, .btn.danger:hover, .hover-danger:active, .btn.danger:active {
  background: #80585a; }

.font-tiny, #footer {
  font-size: 13px;
  font-size: 0.8125rem; }

.font-sm, .sub-nav, .btn.sm {
  font-size: 14px;
  font-size: 0.875rem; }

.font-md {
  font-size: 15px;
  font-size: 0.9375rem; }

.font-lg, .btn.lg {
  font-size: 18px;
  font-size: 1.125rem; }

.font-xl {
  font-size: 24px;
  font-size: 1.5rem; }

.font-xxl {
  font-size: 32px;
  font-size: 2rem; }

.font-xxxl {
  font-size: 38px;
  font-size: 2.375rem; }

.font-jumbo {
  font-size: 60px;
  font-size: 3.75rem; }

.goTop {
  z-index: 99;
  position: fixed;
  right: 1%;
  bottom: 45px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: rgba(0, 0, 0, 0.35);
  display: none;
  font-size: 1.125em; }
  .goTop:hover, .goTop:active {
    background: rgba(0, 0, 0, 0.7); }
  .goTop::before {
    top: 0 !important; }

.w-30 {
  width: 30%; }

.font-ming, .title {
  font-family: 'cwTeXMing', serif;
  font-weight: 800;
  src: url("//fonts.gstatic.com/ea/cwtexming/v3/cwTeXMing-zhonly.eot");
  src: url("//fonts.gstatic.com/ea/cwtexming/v3/cwTeXMing-zhonly.eot?#iefix") format("embedded-opentype"), url("//fonts.gstatic.com/ea/cwtexming/v3/cwTeXMing-zhonly.woff2") format("woff2"), url("//fonts.gstatic.com/ea/cwtexming/v3/cwTeXMing-zhonly.woff") format("woff"), url("//fonts.gstatic.com/ea/cwtexming/v3/cwTeXMing-zhonly.ttf") format("truetype"); }

.underline {
  border-bottom: 1px solid; }

.grid {
  display: inline-block;
  vertical-align: top;
  margin-right: -4px; }
  .grid.c-1-3 {
    width: 33.33333%; }
  .grid.c-1-2 {
    width: 50%; }
  .grid h3 {
    color: #434343;
    margin-top: 16px;
    margin-bottom: 20px; }
  .grid .circle {
    width: 260px;
    height: 260px; }

#banner {
  position: relative;
  max-width: 1200px; }
  #banner img {
    max-width: 100%; }

h2 {
  line-height: 1.35; }

figcaption {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  figcaption::before, figcaption::after {
    pointer-events: none; }
  figcaption a {
    z-index: 2;
    position: relative; }

figure {
  position: relative;
  overflow: hidden;
  margin: 0; }
  figure > a {
    z-index: 1;
    opacity: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }

.title {
  letter-spacing: 1.2px; }
  .title.underline {
    border-width: 2px;
    line-height: 1; }
    .title.underline span {
      border-bottom: 2px solid #ececec; }

.products {
  text-align: left;
  padding: 80px 0 0 100px; }
  .products .title {
    margin-bottom: 90px; }

.news-list {
  max-height: 200px; }
  .news-list a {
    display: block;
    color: #000;
    position: relative;
    padding-left: 18px; }
    .news-list a::before {
      background: #000;
      width: 6px;
      height: 6px;
      position: absolute;
      top: 8px;
      left: 0; }

.modal-content {
  display: inline-block;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); }
