@charset "UTF-8";
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block; }

progress {
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active, a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

figure {
  margin: 1em 40px; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

button, input, select, textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: bold; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

/*      base
-----------------------------------------------------------------------*/
@-moz-viewport , @-ms-viewport, @-o-viewport, @-webkit-viewport, @viewport {
  width: device-width; }
[tabindex="-1"]:focus {
  outline: none !important; }

html, body {
  text-align: center;
  height: 100%; }

body {
  background: #fff;
  color: #333;
  font: 16px/1.5 \5FAE\8EDF\6B63\9ED1\9AD4, "微軟正黑體", "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: .01em; }

img {
  vertical-align: middle; }

a {
  color: #333;
  text-decoration: none;
  -webkit-transition: color 0.35s, background 0.3s;
  transition: color 0.35s, background 0.3s; }
  a:hover, a:active {
    color: #0075a9;
    outline-width: 0; }

h1 {
  margin-top: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.2; }

h1 {
  font-size: 2.625em; }

h2 {
  font-size: 2.0625em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5625em; }

h5 {
  font-size: 1.3125em; }

h6 {
  font-size: 1.0625em; }

b, strong {
  font-weight: bold; }

small {
  font-size: 80%;
  font-weight: normal; }

mark {
  background-color: #f0e5d5;
  padding: .2em; }

hr {
  margin: 2rem 0;
  border: 0;
  border-top: 1px solid #ececec; }

p {
  margin: 0; }
  p + p {
    margin-top: 0.7rem; }

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #ececec; }

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 0; }
  ol ol, ol ul, ol dl, ul ol, ul ul, ul dl, dl ol, dl ul, dl dl {
    font-size: 90%;
    margin-bottom: 0; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

.mobile-toggle, .float-l, .list-table dt {
  float: left; }

.float-r {
  float: right; }

.wrap::after, .main::after, #footer::after, .foot-nav::after, .foot-contact::after, .fields::after, .clearfix::after, .banner::after, .show::after, .waterfall::after {
  content: "";
  display: table;
  clear: both; }

.table-rwd table, .full {
  width: 100%;
  max-width: 100%; }

.logo, .logo-s, .btn-fb, .text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.list-unstyled, .list-inline, .list-grid, #menu {
  list-style: none;
  padding-left: 0; }

.list-inline > li, .list-grid > li {
  display: inline-block; }
  .list-inline > li:not(:last-child), .list-grid > li:not(:last-child) {
    margin-right: 5px; }

/*      layout
-----------------------------------------------------------------------*/
.wrap, .main {
  max-width: 1200px;
  margin: 0 auto; }
  @media (max-width: 75em) {
    .wrap, .main {
      padding: 0 1.5rem; } }
  @media (max-width: 35.5em) {
    .wrap, .main {
      padding: 0 1rem; } }

#wrapper {
  min-height: 100%;
  padding-bottom: 278px;
  padding-top: 90px; }
  @media (max-width: 74.9375em) {
    .scrolled #wrapper {
      padding-top: 65px; } }

#header {
  background: #fff;
  height: 90px;
  z-index: 6;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  -webkit-transition: height 0.35s;
  transition: height 0.35s; }
  @media (max-width: 74.9375em) {
    .scrolled #header {
      height: 65px; } }

.logo {
  cursor: pointer;
  cursor: hand;
  z-index: 10;
  background: url(../images/logo.gif) 0 0 no-repeat;
  width: 271px;
  height: 65px;
  float: left;
  margin-top: 14px;
  margin-left: 24px; }
  @media (min-width: 75em) {
    .logo {
      margin-left: 88px; } }
  @media (max-width: 74.9375em) {
    .logo {
      float: right;
      margin-top: 5px; }
      .scrolled .logo {
        background-size: contain;
        height: 55px;
        width: 222px; } }

#footer {
  background: #313131;
  min-height: 238px;
  margin-top: -238px;
  z-index: 2;
  text-align: left;
  position: relative; }
  @media (min-width: 64em) {
    #footer {
      padding-top: 24px; } }
  @media (max-width: 63.9375em) {
    #footer {
      padding-top: 16px; } }
  #footer a:hover, #footer a:active, #footer a.current {
    color: #c9a063; }

@media (min-width: 48em) {
  .foot-nav, .foot-contact {
    float: left;
    width: 50%; } }
@media (min-width: 64em) {
  .foot-nav, .foot-contact {
    width: 37%; } }
@media (max-width: 47.9375em) {
  .foot-nav, .foot-contact {
    clear: both;
    margin-bottom: 30px; } }

.foot-nav a {
  display: block;
  letter-spacing: 1px;
  line-height: 1.2;
  margin-bottom: 10px; }
@media (max-width: 63.9375em) {
  .foot-nav div:first-child {
    padding-left: 0; } }

.foot-contact {
  line-height: 1.8; }
  .foot-contact .underline {
    border-color: #fff;
    margin-bottom: 8px; }

@media (min-width: 64em) {
  .foot-info {
    float: right;
    vertical-align: top;
    width: 260px; } }
@media (max-width: 63.9375em) {
  .foot-info {
    clear: both;
    margin-bottom: 36px; } }

.logo-s {
  margin-top: 20px;
  margin-bottom: 30px;
  background: url(../images/logo-s.gif) 0 0 no-repeat;
  width: 100%;
  height: 60px; }

.btn-fb {
  display: block;
  background: url(../images/btn-fb.gif) 0 0 no-repeat;
  width: 58px;
  height: 27px;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .btn-fb:hover, .btn-fb:active {
    background-image: url("../images/btn-fb2.gif"); }

@media (min-width: 64em) {
  .copyright {
    position: absolute;
    top: 190px;
    right: 0; } }
@media (min-width: 75em) {
  .copyright {
    left: 50%;
    margin-left: 340px; } }

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
input[type='date'],
input:not([type]),
textarea,
select,
.form-element {
  border: 1px solid #a9a9a9;
  font-size: 15px;
  line-height: 27px;
  min-height: 27px;
  padding: 0 5.4px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  width: 100%;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; }
  input[type='email']:disabled, input[type='email'][readonly],
  input[type='number']:disabled,
  input[type='number'][readonly],
  input[type='password']:disabled,
  input[type='password'][readonly],
  input[type='search']:disabled,
  input[type='search'][readonly],
  input[type='tel']:disabled,
  input[type='tel'][readonly],
  input[type='text']:disabled,
  input[type='text'][readonly],
  input[type='url']:disabled,
  input[type='url'][readonly],
  input[type='date']:disabled,
  input[type='date'][readonly],
  input:not([type]):disabled,
  input:not([type])[readonly],
  textarea:disabled,
  textarea[readonly],
  select:disabled,
  select[readonly],
  .form-element:disabled,
  .form-element[readonly] {
    background-color: #a9a9a9;
    opacity: 1; }
  input[type='email']:disabled,
  input[type='number']:disabled,
  input[type='password']:disabled,
  input[type='search']:disabled,
  input[type='tel']:disabled,
  input[type='text']:disabled,
  input[type='url']:disabled,
  input[type='date']:disabled,
  input:not([type]):disabled,
  textarea:disabled,
  select:disabled,
  .form-element:disabled {
    cursor: not-allowed; }
  input[type='email']:focus,
  input[type='number']:focus,
  input[type='password']:focus,
  input[type='search']:focus,
  input[type='tel']:focus,
  input[type='text']:focus,
  input[type='url']:focus,
  input[type='date']:focus,
  input:not([type]):focus,
  textarea:focus,
  select:focus,
  .form-element:focus {
    border-color: #0087c3;
    outline: 0; }
  input[type='email'].inline,
  input[type='number'].inline,
  input[type='password'].inline,
  input[type='search'].inline,
  input[type='tel'].inline,
  input[type='text'].inline,
  input[type='url'].inline,
  input[type='date'].inline,
  input:not([type]).inline,
  textarea.inline,
  select.inline,
  .form-element.inline {
    display: inline;
    width: auto; }
    input[type='email'].inline:not(:last-child),
    input[type='number'].inline:not(:last-child),
    input[type='password'].inline:not(:last-child),
    input[type='search'].inline:not(:last-child),
    input[type='tel'].inline:not(:last-child),
    input[type='text'].inline:not(:last-child),
    input[type='url'].inline:not(:last-child),
    input[type='date'].inline:not(:last-child),
    input:not([type]).inline:not(:last-child),
    textarea.inline:not(:last-child),
    select.inline:not(:last-child),
    .form-element.inline:not(:last-child) {
      margin-right: 4.8px; }
  input[type='email']::-ms-expand,
  input[type='number']::-ms-expand,
  input[type='password']::-ms-expand,
  input[type='search']::-ms-expand,
  input[type='tel']::-ms-expand,
  input[type='text']::-ms-expand,
  input[type='url']::-ms-expand,
  input[type='date']::-ms-expand,
  input:not([type])::-ms-expand,
  textarea::-ms-expand,
  select::-ms-expand,
  .form-element::-ms-expand {
    background-color: transparent;
    border: 0; }
  input[type='email']::placeholder,
  input[type='number']::placeholder,
  input[type='password']::placeholder,
  input[type='search']::placeholder,
  input[type='tel']::placeholder,
  input[type='text']::placeholder,
  input[type='url']::placeholder,
  input[type='date']::placeholder,
  input:not([type])::placeholder,
  textarea::placeholder,
  select::placeholder,
  .form-element::placeholder {
    color: #a9a9a9;
    opacity: 1; }

select {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="%23d1d1d1" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>');
  background-position: center right;
  background-repeat: no-repeat;
  padding-right: 3.0rem; }
  select:focus {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="%23313131" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>'); }

input[type='checkbox'],
input[type='radio'] {
  display: inline; }

legend,
.input-label.block,
.fields dt.block {
  margin-bottom: 0.5rem; }

.input-label, .fields dt {
  display: inline-block;
  font-weight: normal;
  line-height: 27px; }

legend {
  display: block; }

fieldset {
  border-width: 0;
  padding: 0;
  min-width: 0; }

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell; }

textarea {
  resize: vertical;
  min-height: 6.5rem; }

output {
  display: inline-block; }

[hidden] {
  display: none !important; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type='date'],
  input[type='time'],
  input[type='datetime-local'],
  input[type='month'] {
    line-height: 27px; } }
.slider {
  cursor: pointer;
  background-color: #a9a9a9;
  border-radius: 27px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s; }
  .slider::before {
    position: absolute;
    bottom: 2px;
    left: 2px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    height: 27px;
    width: 27px;
    background-color: white;
    border-radius: 50%; }
    .slider::before, #menu li > a.current::after {
      content: '';
      display: block; }

.switch {
  position: relative;
  display: inline-block;
  width: 52.7px;
  height: 31px; }
  .switch input {
    display: none; }
    .switch input:checked + .slider {
      background: #0087c3;
      box-shadow: inset 1px 1px 1px #005c85; }
      .switch input:checked + .slider::before {
        -ms-transform: translateX(22.68px);
        -webkit-transform: translateX(22.68px);
        transform: translateX(22.68px); }
    .switch input:focus + .slider {
      box-shadow: 0 0 1px #0087c3; }

.checkbox,
.radio {
  position: absolute;
  opacity: 0;
  visibility: hidden; }
  .checkbox + label,
  .radio + label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    cursor: hand;
    outline: none;
    user-select: none;
    margin: 0;
    background: #fff;
    border: 1px solid #a4a4a4;
    margin-right: 0.33333rem; }
  .checkbox:not(:first-of-type) + label,
  .radio:not(:first-of-type) + label {
    margin-left: 0.8rem; }

.checkbox + label {
  width: 27px;
  height: 27px;
  margin: 2px 0.25rem;
  text-align: center; }
  .checkbox + label::before {
    opacity: 0;
    color: #0087c3;
    line-height: 27px; }
.checkbox:not(:checked):hover + label {
  border-color: #0087c3; }
  .checkbox:not(:checked):hover + label::before {
    opacity: 0.6; }
.checkbox:checked + label {
  border-color: #0087c3;
  background: #0087c3; }
  .checkbox:checked + label::before {
    opacity: 1;
    color: #fff; }

.radio + label {
  border-radius: 50%;
  width: 27px;
  height: 27px;
  text-align: center;
  line-height: 27px;
  -webkit-transition: background 0.3s, border 0.3s;
  transition: background 0.3s, border 0.3s; }
.radio:not(:checked):hover + label {
  border-color: #0087c3; }
.radio:checked + label {
  box-shadow: 0 0 3px #0087c3;
  border: 4px solid #fff;
  background: #0087c3; }

/*      table
-----------------------------------------------------------------------*/
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1rem;
  width: 100%;
  border-bottom: 1px solid #EDEBE8; }
  table.fixed {
    table-layout: fixed;
    word-wrap: break-word;
    word-break: break-all; }

tbody + tbody {
  border-top: 2px solid #EDEBE8; }

th, td {
  text-align: center;
  vertical-align: middle;
  padding: 5px 8px;
  border-top: 1px solid #EDEBE8; }

.table-striped tr:nth-child(even) td.item {
  background-color: #F9F9F9; }

.table-bordered {
  border: 1px solid #EDEBE8; }
  .table-bordered th, .table-bordered td {
    border: 1px solid #EDEBE8; }
  .table-bordered thead th, .table-bordered thead td {
    border-bottom-width: 2px; }

.table-striped tr:nth-child(even) {
  background-color: #F9F9F9; }

.table-striped-rowspan tbody:nth-child(even) {
  background-color: #F9F9F9; }

.table-hover tbody:hover > tr > td[rowspan],
.table-hover tr:hover > td {
  background-color: #fffFD7; }

.table-rwd {
  overflow-x: auto;
  min-height: 0.01%;
  max-width: 1200px; }
  @media (max-width: 63.9375em) {
    .table-rwd {
      width: 100%;
      overflow-y: hidden;
      -ms-overflow-style: -ms-autohiding-scrollbar; }
      .table-rwd table {
        margin-bottom: 0; }
        .table-rwd table th, .table-rwd table td {
          white-space: nowrap; } }

@media (max-width: 48em) {
  .rwd-table tr, .rwd-table td {
    display: block;
    border: none; }
  .rwd-table tr {
    position: relative; }
    .rwd-table tr:not(:first-of-type) {
      border-top: 1px solid #EDEBE8; }
  .rwd-table th {
    display: none; }
  .rwd-table td {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px; }
    .rwd-table td::before {
      content: attr(data-th) ":";
      font-weight: bold;
      margin-right: 10px;
      color: white; } }

.js-mobile-body {
  overflow-y: hidden; }

#menu {
  z-index: 20;
  margin-bottom: 0; }
  @media (min-width: 75em) {
    #menu {
      float: right;
      margin-top: 48px; } }
  @media (max-width: 74.9375em) {
    #menu {
      z-index: 999;
      position: fixed;
      top: 90px;
      bottom: 0;
      background: #fff;
      -webkit-transition: left .3s;
      transition: left .3s;
      overflow-y: auto;
      width: 250px;
      left: -250px;
      text-align: left; }
      .js-mobile-body #menu {
        left: 0; }
      .scrolled #menu {
        top: 65px; } }
  #menu li > a {
    color: #626262;
    font-size: 1.0625em; }
    @media (min-width: 75em) {
      #menu li > a {
        padding-right: 16px;
        padding-bottom: 16px; } }
    @media (max-width: 74.9375em) {
      #menu li > a {
        border-top: 1px solid #ececec;
        padding: 12px 24px; } }
    @media (min-width: 75em) {
      #menu li > a.current::after {
        border-bottom: 1px solid;
        -webkit-animation: bdw 0.5s 1 forwards;
        animation: bdw 0.5s 1 forwards; }
      @-webkit-keyframes bdw {
        0% {
          width: 0; }
        100% {
          width: 120%; } }
      @keyframes bdw {
        0% {
          width: 0; }
        100% {
          width: 120%; } } }
  #menu a {
    display: block; }
    #menu a:hover, #menu a:active {
      color: #0075a9; }
  @media (min-width: 75em) {
    #menu li {
      position: relative;
      margin-left: 12px;
      display: inline-block;
      vertical-align: top; } }
  @media (max-width: 74.9375em) {
    #menu li:last-child {
      border-bottom: 1px solid #ececec; } }
  #menu li:hover .sub-nav, #menu li:active .sub-nav {
    opacity: 1;
    visibility: visible; }
    @media (min-width: 75em) {
      #menu li:hover .sub-nav, #menu li:active .sub-nav {
        top: 100%; } }
    @media (max-width: 74.9375em) {
      #menu li:hover .sub-nav, #menu li:active .sub-nav {
        height: auto; } }
  #menu .sub-nav {
    display: block;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s, top 0.35s;
    transition: opacity 0.5s, top 0.35s; }
    @media (min-width: 75em) {
      #menu .sub-nav {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.7);
        padding: 15px 20px 15px 12px;
        word-break: keep-all; } }
    @media (max-width: 74.9375em) {
      #menu .sub-nav {
        height: 0;
        margin-left: 36px; } }
    #menu .sub-nav a {
      color: #434343;
      line-height: 1.25;
      margin-bottom: 10px; }
      #menu .sub-nav a:hover, #menu .sub-nav a:active, #menu .sub-nav a.current {
        text-decoration: underline; }

.mobile-toggle {
  display: none;
  background: none;
  position: relative;
  z-index: 1000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: url(../images/mobile-toggle.gif) center no-repeat;
  width: 45px;
  height: 37px;
  -ms-transform: translateY(45%);
  -webkit-transform: translateY(45%);
  transform: translateY(45%); }
  .mobile-toggle:hover {
    opacity: .8; }
  .mobile-toggle:active, .mobile-toggle.active {
    background-image: url(../images/mobile-close.gif); }
  @media (max-width: 74.9375em) {
    .mobile-toggle {
      display: block; } }

button, [role="button"] {
  cursor: pointer;
  border: none; }
  button:active, button:focus, [role="button"]:active, [role="button"]:focus {
    outline: 0; }

a, area, button, [role="button"], input, label, select, summary, textarea {
  touch-action: manipulation; }

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.01;
  background: #000;
  color: #fff;
  -webkit-transition: background .35s, color .5s;
  transition: background .35s, color .5s;
  letter-spacing: 1px;
  min-width: 175px;
  text-align: center; }
  .btn:hover, .btn:active, .btn:focus {
    background: #b28247;
    color: #fff; }
  .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    opacity: .65;
    background-color: #ececec; }
  .btn.sm {
    font-size: 14px;
    padding: 5.656px 11.2px; }
  .btn.lg {
    font-size: 20px;
    padding: 8.08px 16px; }
  .btn.primary:hover, .btn.primary:active {
    background: #0091d2; }
  .btn.secondary:hover, .btn.secondary:active {
    background: #c09662; }
  .btn.muted:hover, .btn.muted:active {
    background: white; }
  .btn.success:hover, .btn.success:active {
    background: #00dbe6; }
  .btn.info:hover, .btn.info:active {
    background: #64abea; }
  .btn.warning:hover, .btn.warning:active {
    background: #d3b281; }
  .btn.danger:hover, .btn.danger:active {
    background: #80585a; }

.btn-link {
  display: inline;
  line-height: 1.5;
  background: none;
  color: #333;
  -webkit-transition: color 0.35s, background 0.3s;
  transition: color 0.35s, background 0.3s; }
  .btn-link:hover, .btn-link:active, .btn-link:focus {
    background: none;
    color: #0075a9; }
  .btn-link.disabled, .btn-link[disabled], fieldset[disabled] .btn-link {
    opacity: 1;
    color: #ececec;
    background: none; }

.fields + .fields {
  margin-top: 0.5rem; }
.fields dt {
  font-weight: normal; }

.modal {
  z-index: 999;
  overflow: auto;
  padding-top: 80px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: fadeIn 0.4s;
  animation: fadeIn 0.4s; }
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
  @media (max-width: 35.4375em) {
    .modal {
      padding-top: 5%; } }

.modal-close {
  background: none;
  color: #fff;
  font-size: 3.125em;
  line-height: 1;
  -webkit-transition: color 0.35s;
  transition: color 0.35s; }
  .modal-close:hover, .modal-close:focus {
    color: #EDE363;
    cursor: pointer; }
  .modal > .modal-close {
    position: fixed;
    top: 1%;
    right: 1%; }
  .modal-content .modal-close {
    position: absolute;
    top: 5px;
    right: 10px; }

.modal-content {
  margin: auto;
  background-color: #fff;
  position: relative; }

.animate-top {
  position: relative;
  -webkit-animation: slide-down 0.4s;
  animation: slide-down 0.4s; }
@-webkit-keyframes slide-down {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
@keyframes slide-down {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
.animate-zoom {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s; }
@-webkit-keyframes animatezoom {
  from {
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); }
  to {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes animatezoom {
  from {
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); }
  to {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); } }
.block {
  display: block; }

.inline-block {
  display: inline-block; }

.inline {
  display: inline; }

.clear, .list-grid {
  clear: both; }

.hidden {
  display: none; }

.circle {
  border-radius: 50%; }

.img-center {
  display: block;
  margin: auto; }

.m-x-a, .contact-title {
  margin-right: auto;
  margin-left: auto; }

.m-a-0, .waterfall .pin {
  margin: 0; }

.m-t-0 {
  margin-top: 0; }

.m-r-0 {
  margin-right: 0; }

.m-b-0, .fields, .list-grid {
  margin-bottom: 0; }

.m-l-0 {
  margin-left: 0; }

.m-x-0 {
  margin-right: 0;
  margin-left: 0; }

.m-y-0 {
  margin-top: 0;
  margin-bottom: 0; }

.m-a-2 {
  margin: 0.125rem; }

.m-t-2 {
  margin-top: 0.125rem; }

.m-r-2 {
  margin-right: 0.125rem; }

.m-b-2 {
  margin-bottom: 0.125rem; }

.m-l-2 {
  margin-left: 0.125rem; }

.m-x-2 {
  margin-right: 0.125rem;
  margin-left: 0.125rem; }

.m-y-2 {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem; }

.m-a-4 {
  margin: 0.25rem; }

.m-t-4 {
  margin-top: 0.25rem; }

.m-r-4 {
  margin-right: 0.25rem; }

.m-b-4 {
  margin-bottom: 0.25rem; }

.m-l-4 {
  margin-left: 0.25rem; }

.m-x-4 {
  margin-right: 0.25rem;
  margin-left: 0.25rem; }

.m-y-4 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem; }

.m-a-8 {
  margin: 0.5rem; }

.m-t-8 {
  margin-top: 0.5rem; }

.m-r-8 {
  margin-right: 0.5rem; }

.m-b-8, .list-table dd, .list-indent dd {
  margin-bottom: 0.5rem; }

.m-l-8 {
  margin-left: 0.5rem; }

.m-x-8 {
  margin-right: 0.5rem;
  margin-left: 0.5rem; }

.m-y-8 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.m-a-12 {
  margin: 0.75rem; }

.m-t-12 {
  margin-top: 0.75rem; }

.m-r-12, .list-table dt {
  margin-right: 0.75rem; }

.m-b-12 {
  margin-bottom: 0.75rem; }

.m-l-12 {
  margin-left: 0.75rem; }

.m-x-12 {
  margin-right: 0.75rem;
  margin-left: 0.75rem; }

.m-y-12 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem; }

.m-a-16 {
  margin: 1rem; }

.m-t-16 {
  margin-top: 1rem; }

.m-r-16 {
  margin-right: 1rem; }

.m-b-16 {
  margin-bottom: 1rem; }

.m-l-16 {
  margin-left: 1rem; }

.m-x-16 {
  margin-right: 1rem;
  margin-left: 1rem; }

.m-y-16 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.m-a-24 {
  margin: 1.5rem; }

.m-t-24 {
  margin-top: 1.5rem; }

.m-r-24, .club-nav .line-qrcode, .club-nav a {
  margin-right: 1.5rem; }

.m-b-24 {
  margin-bottom: 1.5rem; }

.m-l-24, .list-indent dd {
  margin-left: 1.5rem; }

.m-x-24 {
  margin-right: 1.5rem;
  margin-left: 1.5rem; }

.m-y-24 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.m-a-32 {
  margin: 2rem; }

.m-t-32 {
  margin-top: 2rem; }

.m-r-32 {
  margin-right: 2rem; }

.m-b-32 {
  margin-bottom: 2rem; }

.m-l-32 {
  margin-left: 2rem; }

.m-x-32 {
  margin-right: 2rem;
  margin-left: 2rem; }

.m-y-32, .s2, .content-bordered {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.m-a-48 {
  margin: 3rem; }

.m-t-48, .online-bar {
  margin-top: 3rem; }

.m-r-48 {
  margin-right: 3rem; }

.m-b-48 {
  margin-bottom: 3rem; }

.m-l-48 {
  margin-left: 3rem; }

.m-x-48 {
  margin-right: 3rem;
  margin-left: 3rem; }

.m-y-48, .maintain-content {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.m-a-64 {
  margin: 4rem; }

.m-t-64 {
  margin-top: 4rem; }

.m-r-64 {
  margin-right: 4rem; }

.m-b-64 {
  margin-bottom: 4rem; }

.m-l-64 {
  margin-left: 4rem; }

.m-x-64 {
  margin-right: 4rem;
  margin-left: 4rem; }

.m-y-64 {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.p-a-0 {
  padding: 0; }

.p-t-0 {
  padding-top: 0; }

.p-r-0, input[type='number'] {
  padding-right: 0; }

.p-b-0 {
  padding-bottom: 0; }

.p-l-0, .foot-contact dd {
  padding-left: 0; }

.p-x-0 {
  padding-right: 0;
  padding-left: 0; }

.p-y-0 {
  padding-top: 0;
  padding-bottom: 0; }

.p-a-2 {
  padding: 0.125rem; }

.p-t-2 {
  padding-top: 0.125rem; }

.p-r-2 {
  padding-right: 0.125rem; }

.p-b-2 {
  padding-bottom: 0.125rem; }

.p-l-2 {
  padding-left: 0.125rem; }

.p-x-2 {
  padding-right: 0.125rem;
  padding-left: 0.125rem; }

.p-y-2 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem; }

.p-a-4 {
  padding: 0.25rem; }

.p-t-4 {
  padding-top: 0.25rem; }

.p-r-4 {
  padding-right: 0.25rem; }

.p-b-4 {
  padding-bottom: 0.25rem; }

.p-l-4 {
  padding-left: 0.25rem; }

.p-x-4 {
  padding-right: 0.25rem;
  padding-left: 0.25rem; }

.p-y-4 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; }

.p-a-8 {
  padding: 0.5rem; }

.p-t-8 {
  padding-top: 0.5rem; }

.p-r-8 {
  padding-right: 0.5rem; }

.p-b-8 {
  padding-bottom: 0.5rem; }

.p-l-8 {
  padding-left: 0.5rem; }

.p-x-8 {
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.p-y-8 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.p-a-12, .waterfall .pin {
  padding: 0.75rem; }

.p-t-12 {
  padding-top: 0.75rem; }

.p-r-12 {
  padding-right: 0.75rem; }

.p-b-12 {
  padding-bottom: 0.75rem; }

.p-l-12 {
  padding-left: 0.75rem; }

.p-x-12 {
  padding-right: 0.75rem;
  padding-left: 0.75rem; }

.p-y-12, .content-list header {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; }

.p-a-16 {
  padding: 1rem; }

.p-t-16 {
  padding-top: 1rem; }

.p-r-16 {
  padding-right: 1rem; }

.p-b-16, #footer {
  padding-bottom: 1rem; }

.p-l-16 {
  padding-left: 1rem; }

.p-x-16 {
  padding-right: 1rem;
  padding-left: 1rem; }

.p-y-16 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.p-a-24 {
  padding: 1.5rem; }

.p-t-24 {
  padding-top: 1.5rem; }

.p-r-24 {
  padding-right: 1.5rem; }

.p-b-24 {
  padding-bottom: 1.5rem; }

.p-l-24 {
  padding-left: 1.5rem; }

.p-x-24 {
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

.p-y-24, .content-list main, .intro {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.p-a-32 {
  padding: 2rem; }

.p-t-32 {
  padding-top: 2rem; }

.p-r-32 {
  padding-right: 2rem; }

.p-b-32 {
  padding-bottom: 2rem; }

.p-l-32 {
  padding-left: 2rem; }

.p-x-32 {
  padding-right: 2rem;
  padding-left: 2rem; }

.p-y-32 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.p-a-48 {
  padding: 3rem; }

.p-t-48 {
  padding-top: 3rem; }

.p-r-48 {
  padding-right: 3rem; }

.p-b-48 {
  padding-bottom: 3rem; }

.p-l-48 {
  padding-left: 3rem; }

.p-x-48 {
  padding-right: 3rem;
  padding-left: 3rem; }

.p-y-48 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.p-a-64 {
  padding: 4rem; }

.p-t-64 {
  padding-top: 4rem; }

.p-r-64 {
  padding-right: 4rem; }

.p-b-64 {
  padding-bottom: 4rem; }

.p-l-64 {
  padding-left: 4rem; }

.p-x-64 {
  padding-right: 4rem;
  padding-left: 4rem; }

.p-y-64 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.text-left, #menu .sub-nav, .main, .banner, .service-content p {
  text-align: left; }

.text-right, .fields dt {
  text-align: right; }

.text-center, .service-content {
  text-align: center; }

.font-sp {
  font-family: "Didact Gothic", sans-serif; }

.text-white, #footer, #footer a, .goTop, .goTop:hover, .goTop:active {
  color: #fff; }

.bg-white {
  background: #fff; }

.text-primary, #menu li > a.current, .content-list header {
  color: #006390; }

.bg-primary, .btn.primary {
  background: #0075a9; }

.text-secondary, .content-list .date {
  color: #a07540; }

.bg-secondary, .btn.secondary {
  background: #b28247; }

.text-muted {
  color: #dfdfdf; }

.bg-muted, .btn.muted, .banner, .show {
  background: #ececec; }

.text-success {
  color: #009ca4; }

.bg-success, .btn.success {
  background: #00b4bd; }

.text-info {
  color: #2a8ce2; }

.bg-info, .btn.info {
  background: #4098e5; }

.text-warning {
  color: #c29450; }

.bg-warning, .btn.warning {
  background: #c9a063; }

.text-danger {
  color: #593d3e; }

.bg-danger, .btn.danger {
  background: #684749; }

.font-tiny, #footer {
  font-size: 13px;
  font-size: 0.8125rem; }

.font-sm {
  font-size: 14px;
  font-size: 0.875rem; }

.font-md {
  font-size: 15px;
  font-size: 0.9375rem; }

.font-lg, .content-list main, .intro {
  font-size: 18px;
  font-size: 1.125rem; }

.font-xl, .show p {
  font-size: 24px;
  font-size: 1.5rem; }

.font-xxl {
  font-size: 32px;
  font-size: 2rem; }

.font-xxxl {
  font-size: 38px;
  font-size: 2.375rem; }

.font-jumbo {
  font-size: 60px;
  font-size: 3.75rem; }

.goTop {
  z-index: 99;
  position: fixed;
  right: 1%;
  bottom: 45px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: rgba(0, 0, 0, 0.35);
  display: none;
  font-size: 1.125em; }
  .goTop:hover, .goTop:active {
    background: rgba(0, 0, 0, 0.7); }
  .goTop::before {
    top: 0 !important; }

.w-30 {
  width: 30%; }

.font-ming {
  font-family: 'cwTeXMing', serif;
  font-weight: 800;
  src: url("//fonts.gstatic.com/ea/cwtexming/v3/cwTeXMing-zhonly.eot");
  src: url("//fonts.gstatic.com/ea/cwtexming/v3/cwTeXMing-zhonly.eot?#iefix") format("embedded-opentype"), url("//fonts.gstatic.com/ea/cwtexming/v3/cwTeXMing-zhonly.woff2") format("woff2"), url("//fonts.gstatic.com/ea/cwtexming/v3/cwTeXMing-zhonly.woff") format("woff"), url("//fonts.gstatic.com/ea/cwtexming/v3/cwTeXMing-zhonly.ttf") format("truetype"); }

.underline {
  border-bottom: 1px solid; }

@media (min-width: 41.6875em) {
  .grid {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px; } }
@media (max-width: 63.9375em) {
  .grid {
    margin-bottom: 36px; } }
@media (min-width: 41.6875em) {
  .grid.c-1-3 {
    width: 50%; } }
@media (min-width: 64em) {
  .grid.c-1-3 {
    width: 33.33333%; } }
@media (min-width: 41.6875em) {
  .grid.c-1-2 {
    width: 50%; } }
.grid h3 {
  color: #434343;
  margin-top: 16px;
  margin-bottom: 20px; }
.grid .circle {
  width: 260px;
  height: 260px; }

.btn.outline {
  background: transparent;
  border: 3px solid #fff;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
  padding: 12px 50px; }
  .btn.outline:hover, .btn.outline:active, .btn.outline:focus {
    background: rgba(0, 0, 0, 0.8);
    color: #fff; }

.main {
  padding-top: 45px; }
  .main.small-width {
    max-width: 1020px; }
  @media (min-width: 64em) {
    .Best_choice .main {
      background: url("../images/best/pic.jpg") right bottom no-repeat; } }
  .Show_S1 .main {
    padding-top: 0; }
    @media (max-width: 48em) {
      .Show_S1 .main {
        padding-left: 0;
        padding-right: 0; } }

h1 strong {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold; }

.banner {
  max-width: 1200px;
  margin: 0 auto; }
  .banner img {
    max-width: 100%; }
  @media (min-width: 64em) {
    .banner h1, .banner p {
      margin-left: 5%; } }
  @media (min-width: 75em) {
    .banner h1, .banner p {
      margin-left: 7.5%; } }
  @media (max-width: 63.9375em) {
    .banner h1, .banner p {
      margin: 12px 24px; } }
  @media (max-width: 74.9375em) {
    .banner p {
      font-size: 1.3125em;
      margin-bottom: 24px; } }
  @media (min-width: 64em) {
    .banner {
      min-height: 380px; }
      .banner .pic-full {
        float: right;
        height: 100%; }
      .banner h1 {
        -ms-transform: translateY(100px);
        -webkit-transform: translateY(100px);
        transform: translateY(100px); }
      .banner p {
        -ms-transform: translateY(90px);
        -webkit-transform: translateY(90px);
        transform: translateY(90px); } }
  @media (max-width: 63.9375em) {
    .banner .pic-full {
      width: 100%;
      margin: 0; } }

.content-list {
  border-bottom: 3px solid #999; }
  .content-list:not(:last-child) {
    margin-bottom: 62px; }
  .content-list header {
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
    font-size: 1.6875em;
    line-height: 1.2; }
  .content-list main {
    line-height: 1.65; }
    @media (min-width: 64em) {
      .News .content-list main, .Service .content-list main {
        padding-left: 48px;
        padding-right: 48px; } }
  .content-list img {
    max-width: 100%;
    height: auto !important; }

.news-post:target {
  padding-top: 100px;
  margin-top: -100px; }

.contact-title {
  max-width: 510px; }

.contact-form main {
  background: #f1edea;
  padding: 50px 0;
  margin-bottom: 50px; }
  @media (max-width: 63.9375em) {
    .contact-form main {
      padding-left: 24px;
      padding-right: 24px; } }

@media (min-width: 41.6875em) {
  .indent {
    margin-left: 48px; } }

.list-table dd {
  overflow: hidden;
  line-height: 1.6; }

@media (min-width: 64em) {
  .Best_choice .list-indent {
    margin-left: 90px;
    margin-right: 520px; } }

@media (max-width: 63.9375em) {
  .show img {
    float: none;
    width: 100%;
    max-width: 100%;
    margin: 0; }
  .show main {
    margin: 16px 24px; } }

@media (min-width: 64em) {
  .s2 {
    margin-left: 32px;
    margin-right: 32px; } }

@media (max-width: 63.9375em) {
  .s3 > img {
    margin: 2%;
    width: 96%; } }

.list-grid li {
  margin-right: -4px !important;
  width: 33.33333%; }

@media (min-width: 64em) {
  .s1 main {
    margin-left: 6.66667%;
    padding-top: 16%; }
  .s1 img {
    margin-left: 4.16667%; }

  .s2 main {
    margin-right: 3.33333%;
    padding-top: 25%; }
  .s2 img {
    margin-right: 4.16667%; }

  .s3 main {
    padding-top: 18.5%; }
  .s3 > img {
    margin: 32px; } }
@media (min-width: 64em) {
  .service-content {
    margin-top: 80px; } }
@media (min-width: 64em) {
  .service-content .grid {
    padding-left: 40px;
    padding-right: 40px; } }
@media (max-width: 63.9375em) {
  .service-content .grid {
    width: 100%; } }
@media (min-width: 64em) {
  .service-content p {
    margin: 0 32px;
    height: 200px; } }
.service-content .pic1 {
  background: url("../images/service/pic1.jpg") 0 0 no-repeat; }
  @media (max-width: 63.9375em) {
    .service-content .pic1 {
      background-position: center 0; } }
.service-content .pic2 {
  background: url("../images/service/pic2.jpg") right 0 no-repeat; }
  @media (max-width: 63.9375em) {
    .service-content .pic2 {
      background-position: center bottom; } }
.service-content .pic1, .service-content .pic2 {
  padding-top: 510px;
  padding-bottom: 28px; }
  @media (max-width: 63.9375em) {
    .service-content .pic1, .service-content .pic2 {
      margin-top: 12px;
      margin-bottom: 24px;
      padding-top: 220px; } }

.intro {
  border-top: 3px solid #999;
  border-bottom: 3px solid #999; }
  @media (min-width: 64em) {
    .intro {
      padding-left: 48px;
      padding-right: 48px; } }

@media (min-width: 64em) {
  .club-nav {
    text-align: right;
    margin-top: 64px; }
    .store-all .club-nav {
      margin-top: 0; } }
@media (max-width: 63.9375em) {
  .club-nav {
    text-align: center;
    margin: 32px 0; } }
.club-nav img {
  width: 100px;
  height: 100px; }

.online-bar {
  background: url("../images/online-bar_bg.jpg") center 0 no-repeat;
  padding-top: 280px;
  padding-bottom: 70px; }
  .online-bar .btn {
    color: #fff;
    border-color: #fff;
    border-width: 3px;
    padding: 12px 50px; }

@media (min-width: 48em) {
  .store-all .grid {
    width: 47%; }
    .store-all .grid:nth-child(odd) {
      margin-left: 2.5%; }
    .store-all .grid:nth-child(even) {
      margin-right: 2.5%; } }
@media (max-width: 47.9375em) {
  .store-all .grid {
    width: 100%; } }

.content-bordered {
  border: 1px solid #d8d8d8; }
  @media (min-width: 64em) {
    .content-bordered {
      margin-left: 16px;
      margin-right: 16px; } }
  @media (min-width: 64em) {
    .content-bordered div {
      float: right; } }
  @media (max-width: 63.9375em) {
    .content-bordered div {
      margin-top: 24px; } }
  .content-bordered img {
    width: 100%; }

@media (min-width: 64em) {
  .maintain-content .float-l {
    margin-right: 35px; }
  .maintain-content .float-r {
    margin-left: 35px; } }
@media (max-width: 63.9375em) {
  .maintain-content .float-l, .maintain-content .float-r {
    float: none; }
  .maintain-content img {
    max-width: 100%;
    margin: 0 auto 12px auto;
    display: block; } }

.wedding-content {
  background: url("../images/wedding/mainBg.jpg") right 0 no-repeat; }
  @media (min-width: 64em) {
    .wedding-content {
      background-size: cover;
      padding-top: 80px;
      padding-bottom: 24px; }
      .wedding-content article {
        margin-left: 40px;
        margin-right: 600px; } }
  @media (max-width: 63.9375em) {
    .wedding-content {
      background-position: 0 0;
      background-repeat: repeat-y; }
      .wedding-content article {
        padding: 24px; } }

.list-margin > li {
  margin-bottom: 0.25em; }

@media (min-width: 64em) {
  .event-content {
    background: #e2d0b3 url("../images/event/pic.jpg") 0/contain no-repeat; }
    .event-content article {
      padding: 48px 0;
      margin-left: 53%; } }
@media (max-width: 63.9375em) {
  .event-content {
    background: #e2d0b3; }
    .event-content article {
      padding: 16px 24px; } }

.waterfall {
  position: relative; }
  .waterfall .pin {
    display: block;
    background-color: #f6f6f6;
    border: 1px solid #f6f6f6;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    @media (min-width: 35.5em) {
      .waterfall .pin {
        width: 47%;
        position: absolute;
        top: 0;
        left: 40%; } }
    @media (min-width: 41.6875em) {
      .waterfall .pin {
        width: 225px; } }
    .waterfall .pin:hover {
      box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
      background-color: #fff;
      border-color: #c8c8c8; }
    .waterfall .pin img {
      width: 100%; }
