@charset "UTF-8";

// 單行文字垂直置中
@mixin text-middle($height, $style: lh, $font-size: null) {
    @if $style == lh {
        line-height: $height;
    }
    @else if $style == pd {
        padding: ($height - $font-size)/2 0;
    }
}

// 讓目標元素垂直置中, 母元素需固定高度
@mixin middle($target, $height, $w-align: false) {

    @include el(before, inline-block) {
        vertical-align: middle;
        height: 100%;
    }

    #{$target} {
        @if $target != img {
            // @extend %align-middle;
            @include mixin-dryer('v-middle') {
                display: inline-block;
                vertical-align: middle;
            }
        }
        @content;
    }

    height: $height;

    @if $w-align {
        text-align: $align;
    }
}
