
@{
    ViewBag.Title = "常見問題";
    ViewBag.BodyClass = "Service";
    ViewBag.subnav = "QandA";
}

<header class="banner wrap">
    <img class="pic-full" src="~/Content/images/faq/banner.jpg" alt="常見問題banner">
    <h1><strong class="block">FAQ</strong>@ViewBag.Title</h1>
</header>

<section class="main small-width">
    <article class="content-list">
        <header>01. 量身訂做的西裝 一套真的只要5200元嗎?</header>
        <main>
            @* 編輯器(無圖) *@
            <p>是的，一套西裝(一件西裝一件西褲)連工帶料只要5200元起！</p>
            <p>我們的布料種類很多，您可以依照各人喜好、預算或者是穿著的場合進行挑選。</p>
            <p>我們使用頂級的做工來為您製作西服，西裝袖口開岔以及西裝內部三個暗袋都是標準配備，西褲比照世界各大名牌整圈止滑條的精緻做工，是其他開出同等價位的商家無可比擬的！</p>
        </main>
    </article>

    <article class="content-list">
        <header>02. 5200元這麼便宜? 布料會不會很差?</header>
        <main>
            <p>請放心！5200元等級的布料採用超細纖維萊卡混紡材質, 非常舒適好穿。另外我們也有各種高級的羊毛布料可以供您挑選，重點是透明化的標價, 您可放心依照自己的預算來挑選喜愛的面料。</p>
        </main>
    </article>

    <article class="content-list">
        <header>03. 從量身訂製到交件需多久時間?</header>
        <main>
            <p>由於訂製西服工序細緻繁瑣，師傅人數有限，每天的產能也有所限制，若顧客時間允許，訂製整套西裝標準交件期約二~四週左右。</p>
            <p>若需急件的顧客，我們會依照工廠狀況,盡量幫您做插件處理，交件時間約十~十四天左右。</p>
            <p>(冬季的訂單都會很滿，交貨時間會更為延長)</p>
            <p>若只訂製西褲或襯衫交件期約為十~十四天。</p>
            <p>若有急需使用需急件處理，歡迎先來電洽詢，我們會盡全力幫您特別處理。</p>
            <p>在EZ急件處理不會產生額外的費用！</p>
        </main>
    </article>

    <article class="content-list">
        <header>04. 是否委託什麼版型都可以做呢?</header>
        <main>
            <p>是的！目前主推的版型為窄版的合身版型，若您喜歡其他的版型只要有圖片可以參考的話我們大部分都可以製作。</p>
            <p>但還是要提醒各位顧客，適合自己的身型才是最佳的版型哦!!</p>
        </main>
    </article>
</section>